<br>
<div class="well" id="help">


<h5>Can you help {{question.author}} with this question?</h5>


<h2> Answers </h2>
<hr>
<ul class="collection">
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
</div>
<button {{action 'delete' question}} class="btn red">Delete</button>
