<br>
<h5>Can you help {{question.author}} with this question?</h5>


<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
<br>

<button {{action 'delete' question}} class="btn red">Delete</button>
