<h2>About Ask Me Anything</h2>

<h5>Dev Talk AMA is a discussion forum where developers help one another out. Unlike Stack Overflow, questions can range outside of programming problems. The goal of Dev Talk is for developers to speak about issues, problems, share advice and ultimately get to know one another while also learning! If you'd like to contact us feel free to visit our contact page, or peruse through the question section where you can ask or answer away!</h5>
