<div class="container">
    <header class="jumbotron">
      <h1>AMA</h1>
    </header>
    {{outlet}}
    <hr>
    <footer>{{#link-to 'contact'}}Contact {{/link-to}}
            <br>
          {{#link-to 'about'}}About {{/link-to}}
    </footer>
</div>
