<div class="container">
    <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">

  <nav>
   <div class="nav">
     <ul>
       <li>{{#link-to 'index'}}Home {{/link-to}} </li>
       <li>{{#link-to 'contact'}}Contact {{/link-to}}</li>
       <li>{{#link-to 'about'}}About {{/link-to}}</li>
     </ul>
   </div>
 </nav>
    </header>
    {{outlet}}
</div>
