<div class="container">
    <header class="jumbotron">
      <h1>AMA</h1>
    </header>
    {{outlet}}
    <hr>
    <footer>{{#link-to 'contact'}}Our representatives would love to help! {{/link-to}}
    </footer>
</div>
