<div class="jumbotron" id="contact_">
  <img src="assets/images/cover.png" alt="Developer doing developer stuff" />
</div>
<div class="container">
  <h3 id="contact">Dev Talk Representatives would love to hear from you! Call, email, or send a letter and we'll get back to you shortly!</h3>
  <p>Contact us today!</p>

  <div class="well">
    <p>
      Dev Talk Headquarters<br>
      1201 3rd Avenue<br>
      Seattle, WA 981101
    </p>

</div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col 16 s 12">
          <p class="grey-text text-lighten-4">
            For 24/7 Support Call or Email us!
          </p>
        </div>
        <div class="col 14 offset-12 s12">
          <p class="grey-text text-lighten-4">(503) 555-1212</p>

          <p class="grey-text text-lighten-4">superrentalsrep@superrentals.com</p>
        </div>
      </div>
    </div>
  </footer>
</div>
