<h1>Ask Me Anything</h1>
<h2>Add or answer a question below</h2>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}


<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.answer_content}} - by {{answer.answer_author}}</li>
  {{/each}}
</ul>
